<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_buttons" data-id="demo_buttons">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">按钮</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <h1 class="content-block-title">迷你按钮</h1>
                    <div class="content-block clear">
                        <button class="button button-mini m-b-m m-r-m fl">usual</button>
                        <button class="button button-mini button-light m-b-m m-r-m fl">light</button>
                        <button class="button button-mini button-dark m-b-m m-r-m fl">dark</button>
                        <button class="button button-mini button-success m-b-m m-r-m fl">success</button>
                        <button class="button button-mini button-danger m-b-m m-r-m fl">danger</button>
                        <button class="button button-mini button-warning m-b-m m-r-m fl">warning</button>
                        <button class="button button-mini disabled m-b-m m-r-m fl">disabled</button>
                    </div>
                    <h1 class="content-block-title">小按钮</h1>
                    <div class="content-block clear">
                        <button class="button button-small m-b-m m-r-m fl">usual</button>
                        <button class="button button-small button-light m-b-m m-r-m fl">light</button>
                        <button class="button button-small button-dark m-b-m m-r-m fl">dark</button>
                        <button class="button button-small button-success m-b-m m-r-m fl">success</button>
                        <button class="button button-small button-danger m-b-m m-r-m fl">danger</button>
                        <button class="button button-small button-warning m-b-m m-r-m fl">warning</button>
                        <button class="button button-small disabled m-b-m m-r-m fl">disabled</button>
                    </div>
                    <h1 class="content-block-title">普通按钮</h1>
                    <div class="content-block clear">
                        <button class="button button-default m-b-m m-r-m fl">usual</button>
                        <button class="button button-default button-light m-b-m m-r-m fl">light</button>
                        <button class="button button-default button-dark m-b-m m-r-m fl">dark</button>
                        <button class="button button-default button-success m-b-m m-r-m fl">success</button>
                        <button class="button button-default button-danger m-b-m m-r-m fl">danger</button>
                        <button class="button button-default button-warning m-b-m m-r-m fl">warning</button>
                        <button class="button button-default disabled m-b-m m-r-m fl">disabled</button>
                    </div>
                    <h1 class="content-block-title">大按钮</h1>
                    <div class="content-block clear">
                        <button class="button button-large m-b-m m-r-m fl">usual</button>
                        <button class="button button-large button-light m-b-m m-r-m fl">light</button>
                        <button class="button button-large button-dark m-b-m m-r-m fl">dark</button>
                        <button class="button button-large button-success m-b-m m-r-m fl">success</button>
                        <button class="button button-large button-danger m-b-m m-r-m fl">danger</button>
                        <button class="button button-large button-warning m-b-m m-r-m fl">warning</button>
                        <button class="button button-large disabled m-b-m m-r-m fl">disabled</button>
                    </div>
                    <h1 class="content-block-title">超大按钮</h1>
                    <div class="content-block clear">
                        <button class="button button-big m-b-m fl">usual</button>
                        <button class="button button-big button-light m-b-m fl">light</button>
                        <button class="button button-big button-dark m-b-m fl">dark</button>
                        <button class="button button-big button-success m-b-m fl">success</button>
                        <button class="button button-big button-danger m-b-m fl">danger</button>
                        <button class="button button-big button-warning m-b-m fl">warning</button>
                        <button class="button button-big disabled m-b-m fl">disabled</button>
                    </div>
                    <h1 class="content-block-title">圆角按钮</h1>
                    <div class="content-block">
                        <p><button class="button button-round button-mini m-b-m">round</button></p>
                        <p><button class="button button-round button-small m-b-m">round</button></p>
                        <p><button class="button button-round button-default m-b-m">round</button></p>
                        <p><button class="button button-round button-large m-b-m">round</button></p>
                        <p><button class="button button-round button-big m-b-m">round</button></p>
                    </div>
                    <h1 class="content-block-title">填充按钮</h1>
                    <div class="content-block">
                        <p><button class="button button-fill button-mini m-b-m">fill</button></p>
                        <p><button class="button button-fill button-small m-b-m">fill</button></p>
                        <p><button class="button button-fill button-default m-b-m">fill</button></p>
                        <p><button class="button button-fill button-large m-b-m">fill</button></p>
                        <p><button class="button button-fill button-big m-b-m">fill</button></p>
                    </div>
                    <h1 class="content-block-title">圆角填充按钮</h1>
                    <div class="content-block">
                        <p><button class="button button-round button-fill button-mini m-b-m">round fill</button></p>
                        <p><button class="button button-round button-fill button-small m-b-m">round fill</button></p>
                        <p><button class="button button-round button-fill button-default m-b-m">round fill</button></p>
                        <p><button class="button button-round button-fill button-large m-b-m">round fill</button></p>
                        <p><button class="button button-round button-fill button-big m-b-m">round fill</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

