<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_dialog" data-id="demo_dialog">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">对话框</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <h1 class="content-block-title">提示框</h1>
                    <div class="content-block">
                        <button class="button button-big btn_alert_1 m-b-s">普通提示框</button>
                        <button class="button button-big btn_alert_2 m-b-s">多行提示框</button>
                        <button class="button button-big btn_alert_3 m-b-s">带标题提示框</button>
                        <button class="button button-big btn_alert_4 m-b-s">提示框事件回调</button>
                    </div>
                    <h1 class="content-block-title">确认框</h1>
                    <div class="content-block">
                        <button class="button button-big btn_confirm_1 m-b-s">普通确认框</button>
                        <button class="button button-big btn_confirm_2 m-b-s">多行确认框</button>
                        <button class="button button-big btn_confirm_3 m-b-s">带标题确认框</button>
                        <button class="button button-big btn_confirm_4 m-b-s">确认框事件回调</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

