<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_event_test2" data-id="demo_event_test2">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">事件演示页_2</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <p class="content-block-tip m-b-d">我是事件演示页_2</p>
                    <p class="content-block-tip init_data m-b-d"></p>
                </div>
            </div>
        </div>
    </div>
</block>

