<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_event_test1" data-id="demo_event_test1">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">事件演示页_1</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <p class="content-block-tip m-b-d">我是事件演示页_1</p>
                    <p class="content-block-tip m-b-d">这里pi事件中没有执行函数piInitData，则不会继续执行pie事件</p>
                </div>
            </div>
        </div>
    </div>
</block>

