<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_index" data-id="demo_index">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">DEMO</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="content-block">
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/framework')}">基础框架</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/event')}">基础事件</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/rem')}">关于rem</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/scroller')}">滚动方式</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/buttons')}">按钮</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/toast')}">toast</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/dialog')}">对话框</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/preloader')}">加载指示器</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/modal')}">自定义模态窗</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/lazyLoad')}">图片懒加载</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/photoBrowser')}">图片预览</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/swiper')}">轮播图</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/encrypt')}">加密解密</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/timer')}">定时器</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Address/index')}">选择地址</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/form')}">表单</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Login/check')}">检测登录</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/topShade')}">顶部渐变</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/tabFixed')}">标签固定</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/turnPage')}">翻页效果</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/loadPage')}">跳转页面</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/infinite')}">上滑加载</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/inline')}">内联页面</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/icon')}">图标</a>
                        <a class="button button-big button-dark m-b-s" href="{:U('Demo/device')}">设备侦测</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

