<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_infinite" data-id="demo_infinite">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">上滑加载</h1>
            </header>
            <div class="content">
                <div class="content-inner">
                    <div class="content-block">
                        <a href="{:U('Demo/infiniteTest1')}" class="button button-big btn_infinite_1 m-b-s">普通列表加载</a>
                        <a href="{:U('Demo/infiniteTest2')}" class="button button-big btn_infinite_2 m-b-s">并排列表加载</a>
                        <a href="{:U('Demo/infiniteTest3')}" class="button button-big btn_infinite_3 m-b-s">瀑布流列表加载</a>
                        <a href="{:U('Demo/infiniteTest4')}" class="button button-big btn_infinite_4 m-b-s">瀑布流列表加载（带图片）</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

