<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_inline_test3" data-id="demo_inline_test3">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">内联测试页_3</h1>
            </header>
            <div class="swiper-header">
                <!--data-under-bar表示如果小于等于3个栏则均分宽度-->
                <div class="swiper-container swiper-bar" data-under-bar="3" data-id="bar" data-free-mode="true">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><span>BAR0</span></div>
                        <div class="swiper-slide"><span>BAR1~</span></div>
                        <div class="swiper-slide"><span>BAR2BAR2BAR2</span></div>
                        <div class="swiper-slide"><span>BAR3333</span></div>
                        <div class="swiper-slide"><span>BAR412</span></div>
                        <div class="swiper-slide"><span>我是第五</span></div>
                        <div class="swiper-slide"><span>6</span></div>
                        <div class="swiper-slide"><span>7x7</span></div>
                        <div class="swiper-slide"><span>第八个</span></div>
                        <div class="swiper-slide"><span>99999999999999999999</span></div>
                        <div class="swiper-slide"><span>十的乱系八糟</span></div>
                    </div>
                </div>
            </div>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="swiper-container swiper-inline" data-id="inline">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-0" data-index="0">
                                    <p class="content-block-tip m-t-l m-b-l">这是swiper内联页</p>
                                    <p class="content-block-tip m-t-l m-b-l">1、swiper内联页可横向滑动；</p>
                                    <p class="content-block-tip m-t-l m-b-l">2、swiper内联页不支持js滚动；</p>
                                    <p class="content-block-tip m-t-l m-b-l">3、swiper内联页使用pse事件操作上滑分页加载，而非infinite事件；</p>
                                    <p class="content-block-tip m-t-l m-b-l">试试向右滑动~</p>
                                    <p class="content-block-tip m-t-l m-b-l">试试向右滑动~</p>
                                    <p class="content-block-tip m-t-l m-b-l">试试向右滑动~</p>
                                    <p class="content-block-tip m-t-l m-b-l">试试向右滑动~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline0最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-1" data-index="1">
                                    <p class="content-block-tip m-t-l m-b-l">试试左右滑动~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline1的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline1的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline1的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline1的最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <!--data-distance为距离底部多少高度时开始加载下一页-->
                                <div class="inline-page inner-scroll inline-infinite inline-2" data-index="2" data-distance="100">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline2的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">下面我将加载带图片懒加载的分页数据~</p>
                                    <div class="content-block infinite-inline2-data">
                                        {/*---Tpl/inlineTest3/infiniteInline2Data.tpl---*/}
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <!--data-distance为距离底部多少高度时开始加载下一页-->
                                <div class="inline-page inner-scroll inline-infinite inline-3" data-index="3" data-distance="300">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline3的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">下面我将加载带图片背景懒加载的分页数据~</p>
                                    <div class="content-block infinite-inline3-data">
                                        {/*---Tpl/inlineTest3/infiniteInline3Data.tpl---*/}
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-4" data-index="4">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <h1 class="content-block-title">手动不循环背景图轮播（可点击预览）</h1>
                                    <div class="content-block">
                                        <div class="swiper-container swiper_inline4"
                                             data-pagination=".swiper_inline4 .swiper-pagination">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide bg-lazy-load" data-pw-index="0" data-src="__PUBLIC__/images/demo/096.jpg"></div>
                                                <div class="swiper-slide bg-lazy-load" data-pw-index="1" data-src="__PUBLIC__/images/demo/097.jpg"></div>
                                                <div class="swiper-slide bg-lazy-load" data-pw-index="2" data-src="__PUBLIC__/images/demo/098.jpg"></div>
                                                <div class="swiper-slide bg-lazy-load" data-pw-index="3" data-src="__PUBLIC__/images/demo/099.jpg"></div>
                                                <div class="swiper-slide bg-lazy-load" data-pw-index="4" data-src="__PUBLIC__/images/demo/100.jpg"></div>
                                            </div>
                                            <input type="hidden" class="swiper_pw" data-src="__PUBLIC__/images/demo/096.jpg">
                                            <input type="hidden" class="swiper_pw" data-src="__PUBLIC__/images/demo/097.jpg">
                                            <input type="hidden" class="swiper_pw" data-src="__PUBLIC__/images/demo/098.jpg">
                                            <input type="hidden" class="swiper_pw" data-src="__PUBLIC__/images/demo/099.jpg">
                                            <input type="hidden" class="swiper_pw" data-src="__PUBLIC__/images/demo/100.jpg">
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline4的最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-infinite inline-5" data-index="5" data-distance="200">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline5的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline5的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">这里将演示如何在swiper内联页中加载分页瀑布流列表~</p>
                                    <div class="content-block infinite-inline5-data">
                                        {/*---Tpl/inlineTest3/infiniteInline5Data.tpl---*/}
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-6" data-index="6">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline6的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline6的最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-7" data-index="7">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline7的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline7的最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-8" data-index="8">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline8的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline8的最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-9" data-index="9">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline9的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline9的最后一行~</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="inline-page inner-scroll inline-10" data-index="10">
                                    <p class="content-block-tip m-t-l m-b-l">我是inline10的内容~</p>
                                    <p class="content-block-tip m-t-l m-b-l">我是inline10的最后一行~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

