<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_inline" data-id="demo_inline">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">内联页面</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="content-block">
                        <a href="{:U('Demo/inlineTest1')}" class="button button-big m-b-s">内联测试页_1</a>
                        <a href="{:U('Demo/inlineTest2')}" class="button button-big m-b-s">内联测试页_2</a>
                        <a href="{:U('Demo/inlineTest3')}" class="button button-big m-b-s">内联测试页_3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

