<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_lazy_load_bg_img" data-id="demo_lazy_load_bg_img">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">背景图片懒加载</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/021.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/051.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/022.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/052.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/023.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/053.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/024.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/054.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/025.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/055.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/026.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/056.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/027.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/057.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/028.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/058.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/029.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/059.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/030.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/060.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/031.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/061.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/032.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/062.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/033.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/063.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/034.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/064.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/035.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/065.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/036.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/066.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/037.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/067.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/038.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/068.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/039.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/069.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/040.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/070.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/041.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/071.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/042.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/072.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/043.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/073.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/044.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/074.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/045.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/075.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/046.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/076.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/047.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/077.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/048.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/078.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/049.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/079.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                    <div class="card facebook-card">
                        <div class="card-header no-border">
                            <div class="facebook-avatar bg-lazy-load" data-src="__PUBLIC__/images/demo/050.jpg"></div>
                            <div class="facebook-name">咪喵</div>
                            <div class="facebook-date">星期天 1:34pm</div>
                        </div>
                        <div class="card-content bg-lazy-load" data-src="__PUBLIC__/images/demo/080.jpg"></div>
                        <div class="card-footer no-border">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">评论</a>
                            <a href="#" class="link">分享</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

