<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_lazy_load_img" data-id="demo_lazy_load_img">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">普通图片懒加载</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/001.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/002.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/003.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/004.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/005.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/006.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/007.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/008.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/009.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/010.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/011.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/012.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/013.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/014.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/015.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/016.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/017.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/018.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/019.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                    <div class="card demo-card-header-pic">
                        <div valign="bottom" class="card-header color-white no-border no-padding">
                            <img class="card-cover lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/020.jpg">
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <p class="color-gray">时间 2018/02/02</p>
                                <p>这里是内容说明...</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="link">点赞</a>
                            <a href="#" class="link">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

