<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_load_transmit_data_a" data-id="demo_load_transmit_data_a">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">传递数据测试页A</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="list-block">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">传递数据：</div>
                                <div class="item-input">
                                    <input type="text" name="transmit" placeholder="请输入需要传递的数据">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <button class="button button-big button-fill button-success btn_transmit">数据传递</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

