<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_load_external1" data-id="demo_load_external1">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">原生跳转测试页_1</h1>
            </header>
            <div class="content">
                <div class="content-inner">
                    <p class="content-block-tip m-b-d">我是原生跳转测试页</p>
                    <p class="content-block-tip m-b-d">你已丢失之前页面保存的关联数据（包括：页面位置、setPageData函数保存的页面传递数据等）</p>
                </div>
            </div>
        </div>
    </div>
</block>

