<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_load_external" data-id="demo_load_external">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">原生跳转测试页</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="content-block">
                        <a href="{:U('Demo/loadExternal1')}" class="button button-big m-b-s external">原生跳转测试页_1</a>
                        <a href="{:U('Demo/loadExternal1')}" class="button button-big m-b-s" external>原生跳转测试页_1</a>
                    </div>
                    <div class="content-block disable-router">
                        <a href="{:U('Demo/loadExternal1')}" class="button button-big m-b-s">原生跳转测试页_1</a>
                        <a href="{:U('Demo/loadExternal1')}" class="button button-big m-b-s">原生跳转测试页_1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

