<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_modal" data-id="demo_modal">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">自定义模态窗</h1>
            </header>
            <div class="modal-overlay"></div>
            <div class="modal-custom modal-1 hide">
                <div class="custom-message">亲，你还没登录哦！</div>
                <div class="button button-small btn-login">去登录></div>
            </div>
            <div class="modal-custom modal-2 anim-shake hide"></div>
            <div class="modal-custom modal-3 hide">
                <div class="content-block">
                    <button class="button button-big btn_close_3 m-b-s">关闭左侧栏</button>
                </div>
            </div>
            <div class="modal-custom modal-4 hide">
                <div class="content-block">
                    <button class="button button-big btn_close_4 m-b-s">关闭右侧栏</button>
                </div>
            </div>
            <div class="modal-custom modal-5 hide">
                <div class="content-block">
                    <button class="button button-big button-fill button-success m-b-s">是</button>
                    <button class="button button-big button-fill button-warning">否</button>
                </div>
                <button class="button button-big button-fill button-danger btn_close_5 m-b-s">取消</button>
            </div>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="content-block">
                        <button class="button button-big btn_modal_1 m-b-s">自定义弹出模态窗</button>
                        <button class="button button-big btn_modal_2 m-b-s">掉落效果模态窗</button>
                        <button class="button button-big btn_modal_3 m-b-s">左侧滑效果模态窗</button>
                        <button class="button button-big btn_modal_4 m-b-s">右侧滑效果模态窗</button>
                        <button class="button button-big btn_modal_5 m-b-s">上弹效果模态窗</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

