<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_photo_browser" data-id="demo_photo_browser">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">图片预览</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="photo-list row">
                        <img class="photo-item col-33 lazy-load" data-index="0" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/081.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="1" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/082.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="2" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/083.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="3" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/084.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="4" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/085.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="5" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/086.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="6" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/087.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="7" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/088.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="8" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/089.jpg">
                        <img class="photo-item col-33 lazy-load" data-index="9" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/demo/090.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

