<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_tab_fixed" data-id="demo_tab_fixed">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">标签固定</h1>
            </header>
            <div class="row buttons-tab insane-tab" data-alternate="insane"></div>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="swiper-container swiper_top" data-effect="coverflow"
                         data-pagination=".swiper_top .swiper-pagination">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/096.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/097.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/098.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/099.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/100.jpg"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="row buttons-tab fixed-tab" data-replacepart="insane" data-offset="2.2" data-fixed-top="100">
                        <a href="#tab1" data-tab-id="tab1" class="tab-link active button">Tab1</a>
                        <a href="#tab2" data-tab-id="tab2" class="tab-link button">Tab2</a>
                        <a href="#tab3" data-tab-id="tab3" class="tab-link button">Tab3</a>
                    </div>
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab1" class="tab active">
                                <div class="content-block">
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                    <p>这是 TAB1中的内容~</p>
                                </div>
                            </div>
                            <div id="tab2" class="tab">
                                <div class="content-block">
                                    <p>这是 TAB2中的内容~</p>
                                    <p>这是 TAB2中的内容~</p>
                                    <p>这是 TAB2中的内容~</p>
                                </div>
                            </div>
                            <div id="tab3" class="tab">
                                <div class="content-block">
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                    <p>这是 TAB3中的内容~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

