<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_timer" data-id="demo_timer">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">定时器</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <h1 class="content-block-title">计时</h1>
                    <div class="content-block">
                        <button class="button button-big btn_start_timer m-b-s">每2秒执行一次</button>
                        <button class="button button-big btn_stop_timer m-b-s">停止计时</button>
                    </div>
                    <h1 class="content-block-title">倒计时</h1>
                    <div class="content-block">
                        <button class="button button-big btn_count_down m-b-s" data-countdown="10">10秒倒计时</button>
                        <button class="button button-big btn_stop_down m-b-s">停止倒计时</button>
                    </div>
                    <h1 class="content-block-title">单行公告</h1>
                    <div class="content-block">
                        <div class="carousel single_carousel" data-id="single_carousel" data-view-number="1" data-each-pause="true" data-interval="1000" data-speed="50">
                            <p>这是第一条公告消息！</p>
                            <p>这是第二条公告消息这是第二条公告消息（很长很长的公告）！！！！！！！！！！！！！！！！</p>
                            <p>第三条公告消息！</p>
                            <p>4！</p>
                            <p>最后一条公告消息~</p>
                        </div>
                    </div>
                    <h1 class="content-block-title">多行公告1</h1>
                    <div class="content-block">
                        <div class="carousel multi_carousel_1" data-id="multi_carousel_1" data-view-number="3" data-each-pause="true" data-interval="2000" data-speed="100">
                            <p>这是第一条公告消息！</p>
                            <p>这是第二条公告消息这是第二条公告消息（很长很长的公告）！！！！！！！！！！！！！！！！</p>
                            <p>第三条公告消息！</p>
                            <p>4！</p>
                            <p>最后一条公告消息~</p>
                        </div>
                    </div>
                    <h1 class="content-block-title">多行公告2</h1>
                    <div class="content-block">
                        <div class="carousel multi_carousel_2" data-id="multi_carousel_2" data-view-number="2" data-interval="1000" data-speed="50">
                            <p>这是第一条公告消息！</p>
                            <p>这是第二条公告消息这是第二条公告消息（很长很长的公告）！！！！！！！！！！！！！！！！</p>
                            <p>第三条公告消息！</p>
                            <p>4！</p>
                            <p>最后一条公告消息~</p>
                        </div>
                    </div>
                    <h1 class="content-block-title">转盘</h1>
                    <div class="content-block">
                        <div class="turntable clear" data-id="turntable_1">
                            <div class="turntable-item turntable-item-7 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_7.png">
                                </div>
                                <span class="name">参与大礼包一份</span>
                            </div>
                            <div class="turntable-item turntable-item-6 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_6.png">
                                </div>
                                <span class="name">九折优惠券一张</span>
                            </div>
                            <div class="turntable-item turntable-item-5 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_5.png">
                                </div>
                                <span class="name">免费体验一次</span>
                            </div>
                            <div class="turntable-item turntable-item-0 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_0.png">
                                </div>
                                <span class="name">终身VIP会员</span>
                            </div>
                            <div class="turntable-item turntable_draw fl"></div>
                            <div class="turntable-item turntable-item-4 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_4.png">
                                </div>
                                <span class="name">100元充值卡一张</span>
                            </div>
                            <div class="turntable-item turntable-item-1 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_1.png">
                                </div>
                                <span class="name">三年VIP会员</span>
                            </div>
                            <div class="turntable-item turntable-item-2 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_2.png">
                                </div>
                                <span class="name">半年VIP会员</span>
                            </div>
                            <div class="turntable-item turntable-item-3 fl">
                                <div class="img">
                                    <img src="__PUBLIC__/images/timer/turntable/item_3.png">
                                </div>
                                <span class="name">399元充值卡一张</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

