<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_toast" data-id="demo_toast">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">toast</h1>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content">
                <div class="content-inner">
                    <div class="content-block">
                        <button class="button button-big btn_toast_1 m-b-s">默认toast</button>
                        <button class="button button-big btn_toast_2 m-b-s">toast（显示5秒）</button>
                        <button class="button button-big btn_tip_3 m-b-s">底部提示</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

