<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_top_shade" data-id="demo_top_shade">
            <header class="bar bar-nav header outer-bar clear">
                <a class="icon icon-left fl back"></a>
                <h1 class="title">顶部渐变</h1>
                <a class="icon icon-menu fr"></a>
            </header>
            <header class="bar bar-nav inner-bar clear">
                <a class="icon icon-left fl back"></a>
                <a class="icon icon-menu fr"></a>
            </header>
            <div class="fixed-top hide"></div>
            <div class="content" data-type="js">
                <div class="content-inner">
                    <div class="swiper-container swiper_top" data-effect="coverflow"
                         data-pagination=".swiper_top .swiper-pagination">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/096.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/097.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/098.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/099.jpg"></div>
                            <div class="swiper-slide bg-lazy-load" data-src="__PUBLIC__/images/demo/100.jpg"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <p class="content-block-tip">顶部由class="inner-bar"和class="outer-bar"两部分组成；</p>
                    <p class="content-block-tip">首先需要显示inner-bar，隐藏outer-bar（在module.css文件中编写样式opacity属性代码）；</p>
                    <p class="content-block-tip">inner-bar中的内容布局最好和outer-bar相对应，否则在渐变的过程中看起来会不自然；</p>
                    <p class="content-block-tip">js代码已经在内核代码中完成，无需做其他js相关操作即可实现顶部渐变；</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                    <p class="content-block-tip">上滑屏幕查看顶部效果~</p>
                </div>
            </div>
        </div>
    </div>
</block>

