<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="demo_turn_right" data-id="demo_turn_right">
            <header class="bar bar-nav header">
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">右翻页效果</h1>
            </header>
            <div class="content">
                <div class="content-inner">
                    <h1 class="content-block-title">我是右翻页效果打开的页面~</h1>
                </div>
            </div>
        </div>
    </div>
</block>

