<block name="body"><body></block>
<img id="cnzzTrackPageView" src="" alt="" width="0" height="0"/>
<block name="main"></block>
<block name="other"></block>
<div class="super-modal-overlay">
    <div class="modal-alert hide">
        <div class="alert-title hide"></div>
        <div class="alert-content"></div>
        <div class="alert-button"></div>
    </div>
    <div class="modal-confirm hide">
        <div class="confirm-title hide"></div>
        <div class="confirm-content"></div>
        <div class="confirm-buttons clear">
            <div class="confirm-btn-ok fl"></div>
            <div class="confirm-btn-cancel fl"></div>
        </div>
    </div>
</div>
<div class="super-tip hide"></div>
<div class="super-shade hide"></div>