<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="index_index" data-id="index_index" data-top-floor="true">
            <div class="content">
                <div class="content-inner">
                    <h1 class="content-block-title text-center">欢迎使用MQST</h1>
                    <div class="content-block text-center">
                        <p class="content-block-tip">作者：Sq</p>
                        <p class="content-block-tip">版本：1.0.0</p>
                        <p class="content-block-tip">QQ群：34162394</p>
                    </div>
                    <div class="content-block">
                        <a href="{:U('Demo/index')}" class="button button-default demo-btn">DEMO</a>
                    </div>
                    <div class="content-block text-center">
                        <img class="qq-group-qr lazy-load" src="{:C('LAZY_LOAD_DEFAULT_IMG')}" data-src="__PUBLIC__/images/public/qq_group_qr.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

