<extend name="Public/base.ext"/>

<block name="main">
    <div class="page-group">
        <div class="page" id="address_districts" data-id="address_districts">
            <header class="bar bar-nav header" >
                <a class="icon icon-i-back fl back"></a>
                <h1 class="title">选择地区</h1>
            </header>
            <div class="content">
                <div class="content-inner">
                    <div class="districts-list">
                        <volist name="district_list" id="vo">
                            <div class="districts-item" data-id="{$vo.area_id}" data-code="{$vo.area_code}">{$vo.area_district}</div>
                        </volist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>